.account-header-block {
  display: block;
  height: 83px;
  border: 1px solid #E9E9E9;
}

.account-main-block {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 25px;
  line-height: 80px;
}

.settings {
  width: 36px;
  height: 25px;
}
