<div class="header-block">
  ddvcs dvdsv
<!--  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">-->
<!--    <ul class="navbar-nav ml-auto">-->

<!--      &lt;!&ndash; Nav Item - Search Dropdown (Visible Only XS) &ndash;&gt;-->
<!--      <li class="nav-item dropdown no-arrow d-sm-none">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          <i class="fas fa-search fa-fw"></i>-->
<!--        </a>-->
<!--        &lt;!&ndash; Dropdown - Messages &ndash;&gt;-->
<!--        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated&#45;&#45;grow-in" aria-labelledby="searchDropdown">-->
<!--          <form class="form-inline mr-auto w-100 navbar-search">-->
<!--            <div class="input-group">-->
<!--              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Поиск" aria-describedby="basic-addon2">-->
<!--              <div class="input-group-append">-->
<!--                <button class="btn btn-primary" type="button">-->
<!--                  <i class="fas fa-search fa-sm"></i>-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nav>-->
</div>
