<div class="chat">
  <div class="chat-item">
    <div class="parent">
      <div class="child">
        <img src="{{image}}">
      </div>
      <div class="child-active">
        <div>
          <div>
            <span class="chat-item-header">{{name}}</span>
          </div>
          <div class="chat-item-block">
            <span class="chat-item-block-text">{{message}}</span>
          </div>
        </div>
      </div>
      <div class="child">
        <div class="chat-item-time">
          <span class="chat-item-time-text">{{date}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
