.aside-group-block {
  width: 100px;
  display: block;
  position: fixed;
  height: 100%;
  background: #3C3F41;
}
.aside-account-block {
  height: 83px;
  display: block;
  line-height: 83px;
  width: 100%;

}

.chats-group-block {
  margin-top: 8px;
  display: block;
  text-align: center;
}
